$fontSize-small: 33px;
$background-color-first: rgb(255,110,255);
$background-color_grid-wrapper: rgb(28,26,29);
@mixin border-radius($radius) {
-webkit-border-radius: $radius;
-moz-border-radius: $radius;
-ms-border-radius: $radius;
border-radius: $radius;
}
$background-color-default: rgb(28,26,29);
