$background-color_grid-wrapper: rgb(28, 26, 29);
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

$background-color-default: rgb(28, 26, 29);
$font-family: "Montserrat";
$font-size-title: 0.8em;
$font-weight-medium: 600;
$letter-spacing-title: 1.1;
$font-size-big-numbers: 2.3em;
